<% if @comparison_table.present? %>
  <% if @comparison_table.errors.any? %>
    <% @comparison_table.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new comparison table
</h1>


<hr>

<form action="/create_comparison_table" method="post">

  <div class="form-group">
    <label for="estimated_spend">
      Estimated spend
    </label>

    <input type="text" id="estimated_spend" name="estimated_spend" class="form-control" value="<%= @comparison_table.estimated_spend %>">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="insurance_plan_id">
      Insurance plan
    </label>

    <%= select_tag(:insurance_plan_id, options_from_collection_for_select(InsurancePlan.all, :id, :coinsurance_paid_by_patient, @comparison_table.insurance_plan_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create comparison table
  </button>
</form>

<hr>

<a href="/comparison_tables">
  Go back
</a>
