<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Interested Plans
  </div>

  <ul class="list-group list-group-flush">
    <% @user.interested_plans.each do |insurance_plan| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/insurance_plans/<%= insurance_plan.id %>">
          <%= insurance_plan.coinsurance_paid_by_patient %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
