<form action="/create_comparison_table_from_insurance_plan" method="post">

  <div class="form-group">
    <label for="estimated_spend">
      Estimated spend
    </label>

    <input type="text" id="estimated_spend" name="estimated_spend" class="form-control" value="<%= @comparison_table.estimated_spend %>">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <input type="hidden" name="insurance_plan_id" value="<%= @insurance_plan.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create comparison table
  </button>
</form>
