<form action="/create_interested_plan_from_insurance_plan" method="post">

  <input type="hidden" name="insurance_plan_id" value="<%= @insurance_plan.id %>">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @interested_plan.user_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create interested plan
  </button>
</form>
