<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Applicants
  </div>

  <ul class="list-group list-group-flush">
    <% @insurance_plan.applicants.each do |user| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/users/<%= user.id %>">
          <%= user.email %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
