<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Comparison Tables

    <a data-toggle="collapse" href="#insurance_plan_comparison_tables_new_form">
      Add comparison table
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @insurance_plan.comparison_tables.each do |comparison_table| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/comparison_tables/<%= comparison_table.id %>">
          <%= comparison_table.created_at %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_comparison_table_from_insurance_plan/<%= comparison_table.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="insurance_plan_comparison_tables_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
